{"swagger":"2.0","info":{"version":"v1","title":"CheckedID API"},"host":"api.checkedid.eu","schemes":["https"],"paths":{"/invitations":{"post":{"tags":["Invitation"],"summary":"Create Invitations","description":"This API creates Invitations for using the CheckedID app. An Invitation provides an invitee of a CheckedID registered customer access to the app for one transaction, during a limited period of time. With this API CheckedID customers can integrate the sending of Invitations in their own – e.g. CRM, HR – environment.\r\n<br /> Place the request JSON in details, enter the token with bearer prefix in Authorization header. \r\n<br /><br /> CustomerCode and EmployeeCode are integers as registered with CheckedID.\r\n<br /> InviteeEmail is string used as unique identifier for Invitations.\r\n<br /> InviteeFirstName is string to be used for personally addressing the invitee.\r\n<br /> CustomerReference is string to be used by customers for identifying this Invitation in their own environment.\r\n<br /> AppFlow is string with possible values ‘10’ to ‘29’.\r\n<br /> Validity is integer indicating the number of hours the Invitation is valid after being generated.\r\n<br /> PreferredLanguage is string with possible values \"nl\", \"en\", \"fr\", \"de\" (Used in sending invitation through email)\r\n<br /><br /> Invitations as requested are generated with new InvitationCode and InvitedTime, and these will be provided with the response.","operationId":"Invitees_CreateInvitations","consumes":["application/json","text/json","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"Details","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateInvitationDetails"}},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerDetails"}}}},"patch":{"tags":["Invitation"],"summary":"Update Invitations","description":"This API creates Invitations for using the CheckedID app. An Invitation provides an invitee of a CheckedID registered customer access to the app for one transaction, during a limited period of time. With this API CheckedID customers can integrate the sending of Invitations in their own – e.g. CRM, HR – environment.\r\n<br /> Place the request JSON in details, enter the token with bearer prefix in Authorization header. \r\n<br /><br /> CustomerCode and EmployeeCode are integers as registered with CheckedID.\r\n<br /> InviteeEmail is string used as unique identifier for Invitations.\r\n<br /> InviteeFirstName is string to be used for personally addressing the invitee.\r\n<br /> CustomerReference is string to be used by customers for identifying this Invitation in their own environment.\r\n<br /> AppFlow is string with possible values ‘10’ to ‘29’.\r\n<br /> Validity is integer indicating the number of hours the Invitation is valid after being generated.\r\n<br /> PreferredLanguage is string with possible values \"nl\", \"en\", \"fr\", \"de\" (Used in sending invitation through email)\r\n<br /><br /> Invitations as requested are generated with renewed InvitationCode and InvitedTime, and these will be provided with the response.","operationId":"Invitees_UpdateInvitations","consumes":["application/json","text/json","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"Details","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateInvitationDetails"}},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerDetails"}}}}},"/invitation/{customerCode}/{invitationCode}":{"delete":{"tags":["Invitation"],"summary":"Delete Invitation","description":"","operationId":"Invitees_DeleteInvitation","consumes":[],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"customerCode","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"invitationCode","in":"path","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/users":{"post":{"tags":["Users"],"summary":"Create Users","description":"This API creates Employees for using CheckedID. Employees may be users of the Customer portal and registered (or: activated) users of app.\r\n<br /> Place the request JSON in details, enter the token with bearer prefix in Authorization header. \r\n<br /><br /> CustomerCode is integer as registered with CheckedID.\r\n<br /> Email is string used as unique identifier for Users.\r\n<br /> FirstName is string to be used for personally addressing the user.\r\n<br /> Role of the user (Admin/Basic/AppOnly)\r\n<br /> Holder Confirmation By (App user/CheckedID Auto)\r\n<br /> User type (Internal/External)\r\n<br /><br /> FirstName, LastName, Role, Email, Password, StartDate and HolderConfirmationBy are required. When UserCode is sent this value needs to be unique for CustomerCode; when UserCode is not sent a 5-digit code will be generated. An ActivationCode will always be generated.\r\n<br /><br /> Users as requested are generated with new ActivationCode, and these will be provided with the response.","operationId":"Invitees_CreateEmployee","consumes":["application/json","text/json","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"Details","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateUserDetails"}},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateUserDetailsResponse"}}}},"patch":{"tags":["Users"],"summary":"Update Users","description":"This API updates Employees for using CheckedID. Employees may be users of the Customer portal and registered (or: activated) users of app.\r\n<br /> Place the request JSON in details, enter the token with bearer prefix in Authorization header. \r\n<br /><br /> CustomerCode is integer as registered with CheckedID.\r\n<br /> Email is string used as unique identifier for Users.\r\n<br /> FirstName is string to be used for personally addressing the user.\r\n<br /> Role of the user (Admin/Basic/AppOnly)\r\n<br /> Holder Confirmation By (App user/CheckedID Auto)\r\n<br /> User type (Internal/External)\r\n<br /><br />Only UserCode is required. Fields not sent will not be updated for Employee. If indicated \"true\" for all UserCodes sent ActivationCodes will be regenerated.\r\n<br /><br /> Users as requested are generated with renewed ActivationCode, and these will be provided with the response.","operationId":"Invitees_UpdateEmployees","consumes":["application/json","text/json","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"Details","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateUserDetails"}},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UpdateUserDetailsResponse"}}}}},"/user/{customerCode}/{userCode}":{"delete":{"tags":["Users"],"summary":"Delete User","description":"","operationId":"Invitees_DeleteUser","consumes":[],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"customerCode","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"userCode","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/activateusers":{"patch":{"tags":["Users"],"summary":"Activate Users","description":"This API updates Employees for using CheckedID. Employees may be users of the Customer portal and registered (or: activated) users of app.\r\n<br /> Place the request JSON in details, enter the token with bearer prefix in Authorization header. \r\n<br /><br /> CustomerCode is integer as registered with CheckedID.\r\n<br /> UserCode is required. \r\n<br />","operationId":"Invitees_ActivateEmployees","consumes":["application/json","text/json","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"Details","in":"body","required":true,"schema":{"$ref":"#/definitions/ActivateUsers"}},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivateUsersResponse"}}}}},"/report/{dossierNumber}":{"get":{"tags":["ReportData"],"summary":"Get report pdf based on dossier number","description":"This API retrieves data from verification reports previously received by CheckedID customers. \r\n<br /> Note that reports are accessible for a maximum of seven days after they’re created. After that period their data can no longer be retrieved.\r\n<br /><br /> DossierNumber is string known from the CheckedID report received.","operationId":"ReportData_GetReportDataV2PDF","consumes":[],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"dossierNumber","in":"path","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReportResponse"}}}}},"/reportdata/{dossierNumber}/{scope}":{"get":{"tags":["ReportData"],"summary":"Get report details based on dossier number and scope","description":"This API retrieves data from verification reports previously received by CheckedID customers. These – personal – data can thus be imported in customer’s own environment.\r\n<br /> The API allows for one-by-one importing of data only, in order to facilitate that customer has explicitly ensured the data is appropriate for further processing.\r\n<br /> Note that reports are accessible for a maximum of seven days after they’re created. After that period their data can no longer be retrieved.\r\n<br /><br /> DossierNumber is string known from the CheckedID report received.\r\n<br /> Scope is string with possible values ‘10’, ‘11’, ‘12’, ‘13’.","operationId":"ReportData_GetReportDataV2","consumes":[],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"dossierNumber","in":"path","description":"","required":true,"type":"string"},{"name":"scope","in":"path","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReportDataV3"}}}}},"/admin/health/status":{"get":{"tags":["Status"],"summary":"API Status","description":"This is used to check the status of the API","operationId":"Status_GetStatusV2","consumes":[],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/result/status/{invitationCode}":{"get":{"tags":["Status"],"summary":"Get result callback based on Invitation Code","description":"This API retrieves result callback details of the report based on Invitation Code","operationId":"Status_GetResultCallbackStatus","consumes":[],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"invitationCode","in":"path","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultCallbackStatus"}}}}},"/oauth/token":{"post":{"tags":["Authentication"],"summary":"OAuth process to generate the authentication token","description":"Provide the username, password and grant_type as password and request for token. On successful authentication, token with validity will be returned","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"grant_type","in":"formData","description":"Should set as 'password'","required":true,"type":"string"},{"name":"username","in":"formData","description":"Username shared for the API access","required":true,"type":"string"},{"name":"password","in":"formData","description":"Password shared for the API access","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"OAuthToken","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"integer"},"refresh_token":{"type":"string"}}},"examples":{"access_token":"_1rqayill4DThs7ZViHMV4kI6UzYwwVwmxKZQjUDI2iBPgYOC2-EOe82zoz57-vaDOOuhAcBNyL_BD6gT6M1wGLx2UPYhlG8oP6fQ2wXSAdXnDnzmo1w3853_Iuu5F_Tg98rp7a6byLV32IfMRds7vRXdDbXjDc0dGhJ2lxw_wqPzw3W8LyzxuSVNU1Qkq3-56IPHyZOQQILGIBDm64o6xRjn19FimdwHGypd9DuAD9IdTQ34hklIbsc7QedvIQZ","token_type":"bearer","expires_in":3599,"refresh_token":"24604020-e68e-48b8-a26f-384518558200"}}}}}},"definitions":{"CreateInvitationDetails":{"description":"Invitation Request","required":["CustomerCode","Invitations"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Invitations":{"description":"List of Invitations","type":"array","items":{"$ref":"#/definitions/CreateInvitationRequest"}}}},"CreateInvitationRequest":{"description":"Invitation","required":["EmployeeCode","InviteeEmail","InviteeFirstName","AppFlow","Validity"],"type":"object","properties":{"EmployeeCode":{"format":"int32","description":"EmployeeCode is integer as registered with CheckedID.","type":"integer"},"InviteeEmail":{"description":"InviteeEmail is string used as unique identifier for Invitations.","type":"string"},"InviteeFirstName":{"description":"InviteeFirstName is string to be used for personally addressing the invitee.","type":"string"},"InviteeLastName":{"description":"InviteeLastName is string to be used for personally addressing the invitee.","type":"string"},"CustomerReference":{"description":"CustomerReference is string to be used by customers for identifying this Invitation in their own environment.","type":"string"},"AppFlow":{"description":"AppFlow is string with possible values 10 to 29","type":"string"},"Validity":{"format":"int32","description":"Validity is integer indicating the number of hours the Invitation is valid after being generated.","type":"integer"},"PreferredLanguage":{"description":"PreferredLanguage is string with possible values \"nl\", \"en\", \"fr\", \"de\" (Used in sending invitation through email)","type":"string"}}},"CustomerDetails":{"description":"Customer Details","required":["CustomerCode","Invitations"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"Customer Code","type":"integer"},"Invitations":{"description":"List of Invitations","type":"array","items":{"$ref":"#/definitions/Invitation"}}}},"Invitation":{"description":"Invitation","required":["EmployeeCode","InviteeEmail","InviteeFirstName","AppFlow","Validity"],"type":"object","properties":{"EmployeeCode":{"format":"int32","description":"Employee Code","type":"integer"},"InviteeEmail":{"description":"Invitee Email","type":"string"},"InvitationCode":{"description":"Invitation Code","type":"string"},"InviteeFirstName":{"description":"First Name","type":"string"},"InviteeLastName":{"description":"InviteeLastName is string to be used for personally addressing the invitee.","type":"string"},"CustomerReference":{"description":"Customer Reference","type":"string"},"AppFlow":{"description":"App Flow","type":"string"},"Validity":{"format":"int32","description":"Validity","type":"integer"},"InvitedTime":{"description":"Invitation Date Time","type":"string"},"PreferredLanguage":{"description":"Preferred Language","type":"string"}}},"UpdateInvitationDetails":{"description":"Invitation Request","required":["CustomerCode","Invitations"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Invitations":{"description":"List of Invitations","type":"array","items":{"$ref":"#/definitions/UpdateInvitationRequest"}}}},"UpdateInvitationRequest":{"description":"Invitation","required":["InviteeFirstName","AppFlow","Validity"],"type":"object","properties":{"InvitationCode":{"description":"Invitation Code","type":"string"},"InviteeFirstName":{"description":"InviteeFirstName is string to be used for personally addressing the invitee.","type":"string"},"InviteeLastName":{"description":"InviteeLastName is string to be used for personally addressing the invitee.","type":"string"},"CustomerReference":{"description":"CustomerReference is string to be used by customers for identifying this Invitation in their own environment.","type":"string"},"AppFlow":{"description":"AppFlow is string with possible values 10 to 29","type":"string"},"Validity":{"format":"int32","description":"Validity is integer indicating the number of hours the Invitation is valid after being generated.","type":"integer"},"PreferredLanguage":{"description":"PreferredLanguage is string with possible values \"nl\", \"en\", \"fr\", \"de\" (Used in sending invitation through email)","type":"string"}}},"CreateUserDetails":{"description":"User request","required":["CustomerCode","Users"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Users":{"description":"List of Users","type":"array","items":{"$ref":"#/definitions/CreateUserRequest"}}}},"CreateUserRequest":{"description":"User","type":"object","properties":{"UserCode":{"format":"int32","description":"UserCode is integer","type":"integer"},"FirstName":{"description":"FirstName is string to be used for personally addressing the user.","type":"string"},"LastName":{"description":"LastName is string to be used for personally addressing the user.","type":"string"},"Role":{"description":"Role of the user (Admin/Basic/AppOnly)","type":"string"},"Email":{"description":"Email is string used as unique identifier for users.","type":"string"},"Password":{"description":"Password","type":"string"},"StartDate":{"format":"date-time","description":"Start Date of the user","type":"string"},"EndDate":{"format":"date-time","description":"End Date of the user","type":"string"},"HolderConfirmationBy":{"description":"Holder Confirmation By (App user/CheckedID Auto)","type":"string"},"UserType":{"description":"User type (Internal/External)","type":"string"},"UserReference":{"description":"User reference","type":"string"},"ReportEmailAddress":{"description":"Alternative email address for reports","type":"string"},"NotificationEmailAddress":{"description":"Nomination email address","type":"string"}}},"CreateUserDetailsResponse":{"description":"User Response","required":["CustomerCode","Users"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Users":{"description":"List of users","type":"array","items":{"$ref":"#/definitions/CreateUserResponse"}}}},"CreateUserResponse":{"description":"User","type":"object","properties":{"UserCode":{"format":"int32","description":"User Code","type":"integer"},"FirstName":{"description":"FirstName is string to be used for personally addressing the user.","type":"string"},"LastName":{"description":"LastName is string to be used for personally addressing the user.","type":"string"},"Role":{"description":"Role of the user (Admin/Basic/AppOnly)","type":"string"},"Email":{"description":"Email is string used as unique identifier for users.","type":"string"},"ActivationCode":{"description":"Code generated by CheckedID for activation","type":"string"},"StartDate":{"format":"date-time","description":"Start Date of the user","type":"string"},"EndDate":{"format":"date-time","description":"End Date of the user","type":"string"},"HolderConfirmationBy":{"description":"Holder Confirmation By (App user/CheckedID Auto)","type":"string"},"UserType":{"description":"User type (Internal/External)","type":"string"},"UserReference":{"description":"User reference","type":"string"},"ReportEmailAddress":{"description":"Alternative email address for reports","type":"string"},"NotificationEmailAddress":{"description":"Nomination email address","type":"string"}}},"UpdateUserDetails":{"description":"User request","required":["CustomerCode","Users"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Users":{"description":"List of Users","type":"array","items":{"$ref":"#/definitions/UserRequest"}}}},"UserRequest":{"description":"User","type":"object","properties":{"UserCode":{"format":"int32","description":"UserCode is integer","type":"integer"},"FirstName":{"description":"FirstName is string to be used for personally addressing the user.","type":"string"},"LastName":{"description":"LastName is string to be used for personally addressing the user.","type":"string"},"Role":{"description":"Role of the user (Admin/Basic/AppOnly)","type":"string"},"Email":{"description":"Email is string used as unique identifier for users.","type":"string"},"Password":{"description":"Password","type":"string"},"StartDate":{"format":"date-time","description":"Start Date of the user","type":"string"},"EndDate":{"format":"date-time","description":"End Date of the user","type":"string"},"HolderConfirmationBy":{"description":"Holder Confirmation By (App user/CheckedID Auto)","type":"string"},"UserType":{"description":"User type (Internal/External)","type":"string"},"UserReference":{"description":"User reference","type":"string"},"ReportEmailAddress":{"description":"Alternative email address for reports","type":"string"},"NotificationEmailAddress":{"description":"Notification email address","type":"string"}}},"UpdateUserDetailsResponse":{"description":"User Response","required":["CustomerCode","Users"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Users":{"description":"List of users","type":"array","items":{"$ref":"#/definitions/UpdateUserResponse"}}}},"UpdateUserResponse":{"description":"User","type":"object","properties":{"UserCode":{"format":"int32","description":"User Code","type":"integer"},"FirstName":{"description":"FirstName is string to be used for personally addressing the user.","type":"string"},"LastName":{"description":"LastName is string to be used for personally addressing the user.","type":"string"},"Role":{"description":"Role of the user (Admin/Basic/AppOnly)","type":"string"},"Email":{"description":"Email is string used as unique identifier for users.","type":"string"},"ActivationCode":{"description":"Code generated by CheckedID for activation","type":"string"},"StartDate":{"format":"date-time","description":"Start Date of the user","type":"string"},"EndDate":{"format":"date-time","description":"End Date of the user","type":"string"},"HolderConfirmationBy":{"description":"Holder Confirmation By (App user/CheckedID Auto)","type":"string"},"UserType":{"description":"User type (Internal/External)","type":"string"},"UserReference":{"description":"User reference","type":"string"},"ReportEmailAddress":{"description":"Alternative email address for reports","type":"string"},"NotificationEmailAddress":{"description":"Notification email address","type":"string"}}},"ActivateUsers":{"description":"User request","required":["CustomerCode","Users"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Users":{"description":"List of Users","type":"array","items":{"$ref":"#/definitions/ActivateUserRequest"}}}},"ActivateUserRequest":{"description":"User","type":"object","properties":{"UserCode":{"format":"int32","description":"UserCode is integer","type":"integer"}}},"ActivateUsersResponse":{"description":"User Response","required":["CustomerCode","Users"],"type":"object","properties":{"CustomerCode":{"format":"int32","description":"CustomerCode is integer as registered with CheckedID.","type":"integer"},"Users":{"description":"List of Users","type":"array","items":{"$ref":"#/definitions/ActivateUserResponse"}}}},"ActivateUserResponse":{"description":"User","type":"object","properties":{"UserCode":{"format":"int32","description":"UserCode is integer","type":"integer"},"ActivationCode":{"description":"Generated activation code","type":"string"}}},"ReportResponse":{"description":"Report Data","type":"object","properties":{"DossierNumber":{"description":"Dossier Number","type":"string"},"ReportPDF":{"description":"Report PDF","type":"string"}}},"ReportDataV3":{"description":"Report Details","type":"object","properties":{"CustomerCode":{"description":"Customer Code","type":"string"},"CustomerName":{"description":"Customer name","type":"string"},"DossierNumber":{"description":"Dossier number of the report","type":"string"},"EmployeeCode":{"description":"Employee Code","type":"string"},"EmployeeInvolved":{"description":"Employee Involved","type":"string"},"ReportDateTime":{"description":"Report Date Time","type":"string"},"ExecutedBy":{"description":"Executed By","type":"string"},"ReportResult":{"description":"Result","type":"string"},"Details":{"description":"Details","type":"string"},"DetailsMessageCode":{"description":"Details Message Code","type":"string"},"DocumentType":{"description":"Document Type","type":"string"},"DocumentTypeCode":{"description":"Document Code","type":"string"},"DocumentCountry":{"description":"Document Country","type":"string"},"DocumentNumber":{"description":"Document Number","type":"string"},"DateOfIssue":{"description":"Date of Issue","type":"string"},"DateOfExpiry":{"description":"Date of Expiry","type":"string"},"Authority":{"description":"Authority","type":"string"},"FirstName":{"description":"First Name","type":"string"},"Name":{"description":"Name","type":"string"},"Sex":{"description":"Sex","type":"string"},"DateOfBirth":{"description":"Date of Birth","type":"string"},"PlaceOfBirth":{"description":"Place of Birth","type":"string"},"PersonalNumber":{"description":"Personal Number","type":"string"},"Nationality":{"description":"Nationality","type":"string"},"PhotoIdChip":{"description":"Photo Id Chip","type":"array","items":{"type":"string"}},"PhotoHolder":{"description":"Photo Holder","type":"array","items":{"type":"string"}},"IdDocumentFront":{"description":"Front Document","type":"array","items":{"type":"string"}},"IdDocumentBack":{"description":"Back Document","type":"array","items":{"type":"string"}},"OtherDocument":{"description":"Other document","type":"array","items":{"type":"string"}},"SignatureFromIDDocument":{"description":"Signature from ID Document","type":"string"}}},"ResultCallbackStatus":{"description":"Result callback status","type":"object","properties":{"CustomerCode":{"format":"int32","description":"Customer Code","type":"integer"},"EmployeeCode":{"format":"int32","description":"Employee Code","type":"integer"},"InviteeEmail":{"description":"Invitee Email","type":"string"},"CustomerReference":{"description":"Customer Reference","type":"string"},"InvitationCode":{"description":"Invitation Code","type":"string"},"DossierNumber":{"description":"Dossier Number","type":"string"},"ReportDateTime":{"description":"Report Date Time","type":"string"},"ReportResult":{"description":"Result","type":"string"},"Details":{"description":"Details","type":"string"},"DetailsMessageCode":{"description":"Message Codes","type":"string"},"Status":{"description":"Status","type":"string"}}}}}
